.messageContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: black;
}

.MsgScrollbarContainer{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 100vh;
    border-left: solid;
    border-left-width: 1px;
    border-color: #1c1e21;
    align-items: center;
}

.searchBar{
    width: 80%;
    color: white;
    margin-top: 50px;
    background-color: #1c1e21;
    border: none;
    border-radius: 7px;
    height: 35px;
    padding-left: 10px;
}

.conversationContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 20v;
    border-left: solid;
    border-left-width: 1px;
    border-color: #1c1e21;
    justify-content: end;
    align-items: center;
}

.discussion{
    width: 90%;
    color: white;
    background-color: #1c1e21;
    border: none;
    border-radius: 20px;
    height: 45px;
    padding-left: 10px;
    justify-content: center;
    resize: vertical;
    height: fit-content;
    min-height: 45px;
    text-wrap: wrap;
    word-wrap: break-word;  /* Casse les mots pour éviter le dépassement */
    white-space: pre-wrap;  /* Conserve les sauts de ligne */
}

.messageBar{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
justify-content: space-evenly;
}

.cardDisposal{
    padding-top: 20px;
    width: 100%;
}